<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <h4>RJIC 2026</h4>
      <p>
        Ruby Jubilee International Conference<br>
        Department of Library & Information Science<br>
        North-Eastern Hill University
      </p>
    </div>

    <div>
      <h4>Contact</h4>
      <p>Email: rjdlisnehu@gmail.com</p>
    </div>

    <div>
      <h4>Dates</h4>
      <p>26–27 February 2026<br>Shillong, Meghalaya</p>
    </div>
  </div>

  <div class="footer-bottom">
    © 2026 DLIS, NEHU. All rights reserved.
  </div>
</footer>
